body
{
  background: #171eff; /*este es el color del fondo*/
  color: #3effc7;/*este es el color de la fuente*/
}
/* selectores, son las partes que nos indicaran a que haremos cambios*/

*{/*es un selector universal*/
/*  margin: 0;
  padding:0;/*Margenes*/
  /*color: red;*/
}
/*Aqui vamos a trabajar sobre la etiqueta que queremos modificar*/
h1 {
  color: black;
  font-size: 15px;/*Es el tamaño de la fuenta*/
  align-content: center;
}

/*Aqui estamos seleccionando los elementos a que estan dentro de un parrafo,
pero podemos seleccionar las etiquetas que querramos: div, p, span,etc.
el span es una etiqueta para dar estilo para modificar un solo elemento*/
td a 
{
  color: red;
  font-size: 15px;
}
.escuelas{/*Este es un selector de clases; es decir que todos los elementos que pertenescan a
  la clase que se esta seleccionando, se veran afectados por las instrucciones agregadas en
  este selector*/
  color: orange;
/*Tambien podemos seleccionar con id, en el caso seria #id pero no es tan recomendable, de echo es obsoleto porque los ids ya no se utilizan*/
}

/*podemos tambien seleccionar lincks especificos, es decir si queremos modificar
solo los lincks que te manden a una pagina en especial, por ejemplo:*/
a[href="https://www.buap.mx"]{
  font-size: 30px;
  color: cyan;
}
