body
{

  text-align: center;
  background: url("../extras/Fond1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/*ESTE ES EL CSS DEL MENÚ*/
a {
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style: none;
}
/*BACKGROUN DEL MENU*/
header {
    z-index: 1;
    transition:0.5s;
    position: fixed;
    height: 11%;
    right: 0;
    left: 0;
    background:rgba(254,254,254,.3);
    display: flex;
    align-items: right;
    margin-top: -14%;
}

header .logo {
    text-decoration: none;
    color: #E17113;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 10px;
}
/*ES CUANDO LA OPCION ESTA SELECCIONADA*/
header nav .activo a {
    font-weight: bold;
    color: #62debe;
    background: #14604c;
}
/*ALINEA LAS OPCIONES DEL MENU*/
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
/*MODIFICA LOS LINCKS, BIBLIOTECA, LaTex, ETC...*/
header a {
    color: #E17113;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    align-items: center;
}
/*MODIFICA LOS COLORES DE LAS OPCIONES CUANDO EL CURSOR ESTA ENCIMA*/
header nav li:hover a {
    font-weight: bold;
    color: #00CAA2;
    background: rgba(167, 113, 78, 0.85);
}

/*OPCIONES DE SIG IN O LOG IN*/
header .acciones {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
/*ALINEA LOS BOTONES*/
header div ul{
    display: flex;
}
/*DA LA ANIMACION A LOS BOTONES*/
header div li:hover a{
    font-weight: bold;
    color: #00CAA2;
    background: rgba(167, 113, 78, 0.85);
}
