body{
    font-family: sans-serif;
    color: #465967;
    text-align: justify;

}

header{
    background-color: rgba(13, 55, 84, 1);
}

.imagenes{
    background-image: url('../extras/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
.imagen_mia{
    margin: 1%;
    height: 14%;
    width: 14%;
    border-radius: 30%;
}

.Contenido{

    /*Agregaremos las indicaciones para las letras*/
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: justify;
    /*----------------------------------------------*/
    /*indicaciones sobre el background*/
    background-image: url('../extras/Back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*-----------------------------------------------*/

    /*Modificaciones en general*/
    padding-top: 0.9%;
    padding-right: 2%;
    padding-left: 1%;
    padding-bottom: 1.09%;
    /*--------------------------------------------*/
}